@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Gloria+Hallelujah&family=Josefin+Sans&family=Noto+Sans+Symbols+2&family=Special+Elite&display=swap');

*{
    margin: 0;
    font-family:'Josefin Sans';
}

body{
  /*  background-image: url(./58670.jpg); */
    background-color: #252177;
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#cabeca a{
    color: aliceblue;
    text-decoration: none;
}
#cabeca{
    display: flex;
    justify-content: space-evenly;
    padding: 1.8rem;
    background-color: #498eff;
}
#cabeca a:hover{
    transition: 0.5s;
    color: #00e1ff;
}

#h2-anuncio-exclusivo{
    display: flex;
    justify-content: center;
    padding: 3vh;
    font-size: 20px;
    background-color: #11293a;
    color: aliceblue;
}

.ul-anuncio-exclusivo{
    display: flex;
    justify-content: space-around;
    list-style: none;
    position: relative;
    right: 3vh;
}

.p-anuncio-exclusivo{
    text-align: center;
    font-size: 3vh;
    color: antiquewhite;
    cursor: pointer;
}
.p-anuncio-exclusivo:hover{
    transition: 0.5s;
    border-radius: 1rem;

  /*  -webkit-box-shadow: 7px -5px 56px 6px rgba(255, 255, 255, 0);
    -moz-box-shadow: 7px -5px 56px 6px rgba(255, 255, 255, 0);
    box-shadow: 7px -5px 56px 6px rgba(255, 255, 255, 0.97);  */
}
.p-anuncio-exclusivo:active{
    background-color: rgb(15, 140, 212);
}

.bnt-anuncio-exclusivo{
    cursor: pointer;
    border: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    width: 240px;
    font-family:'Josefin Sans';
    opacity: 85%;
}
.bnt-anuncio-exclusivo:hover{
    transition: 0.4s;
    -webkit-box-shadow: 2px -3px 84px -32px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -3px 84px -32px rgba(0,0,0,0.75);
    box-shadow: 2px -3px 84px -32px rgba(0,0,0,0.75);
    font-family:'Josefin Sans';
    opacity: 100%;
}

img{
    opacity: 85%;
    border-radius: 0.7rem;
    margin: none;
    padding: none;
}

img:hover{
    box-shadow: #0062ff 5rem ;
    transition: 0.5s;
    opacity: 100%;

    -webkit-box-shadow: 2px -3px 84px -32px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 2px -3px 84px -32px rgba(250, 250, 250, 0.75);
    box-shadow: 2px -3px 84px -32px rgba(246, 246, 246, 0.75);
}

#h2-anuncio-normal{
    display: flex;
    justify-content: center;
    color:rgb(246, 246, 246);
    background-color: #11293a;
    padding: 2vh;
}
/*vivendo e apredendo*/
